<mat-toolbar color="primary">
  <mat-toolbar-row class="accent-background-color-darker">
    <div class="third-width"></div>
    <div class="third-width title">
      <span>Audio To Spectrogram</span>
    </div>
    <div class="third-width settings">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <form
      [formGroup]="spectrogramForm"
      #formDirective="ngForm"
      (ngSubmit)="start(spectrogramForm, formDirective)"
    >
      <input
        style="display: none"
        type="file"
        accept="audio/mpeg,audio/wav"
        (change)="onFilesChanged($event)"
        #fileInput
        multiple
      />
      <button
        #selectFilesToolTip="matTooltip"
        matTooltip
        mat-raised-button
        (click)="fileInput.click()"
      >
        <mat-icon>audiotrack</mat-icon>
        <span>Select Files</span>
      </button>

      <mat-form-field
        appearance="outline"
        #selectSpecToolTip="matTooltip"
        matTooltip
      >
        <mat-label>Spectrogram Type</mat-label>
        <mat-select
          formControlname="type"
          required
          (selectionChange)="setSpectrogramType($event)"
        >
          <mat-option [value]="'default'">Spectrogram</mat-option>
          <mat-option [value]="'mel'">Mel Spectrogram</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            spectrogramForm.controls.type &&
            spectrogramForm.controls.type.errors &&
            spectrogramForm.controls.type.errors.required
          "
          >Type is required!</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        #selectResolutionToolTip="matTooltip"
        matTooltip
      >
        <mat-label>Resolution</mat-label>
        <input
          matInput
          type="number"
          formControlname="resolution"
          min="1"
          required
          (input)="setSpectrogramResolution($event)"
        />
        <span matSuffix>dpi</span>
        <mat-error
          *ngIf="
            spectrogramForm.controls.resolution &&
            spectrogramForm.controls.resolution.errors &&
            spectrogramForm.controls.resolution.errors.required
          "
          >Resolution is required!</mat-error
        >
        <mat-error
          *ngIf="
            spectrogramForm.controls.resolution &&
            spectrogramForm.controls.resolution.errors &&
            spectrogramForm.controls.resolution.errors.min
          "
          >Min size: 1dpi!</mat-error
        >
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        [disabled]="!spectrogramForm.valid"
        #startToolTip="matTooltip"
        matTooltip
      >
        <mat-icon>play_circle_filled</mat-icon>
        <span>Start</span>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container accent-background-color">
  <ng-container *ngFor="let spectrogram of spectrograms">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>{{
          spectrogram.fileName
        }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="spectrogram.filePath" />
    </mat-card>
  </ng-container>
</div>
