<mat-toolbar color="primary">
  <mat-toolbar-row class="accent-background-color-darker">
    <div class="third-width"></div>
    <div class="third-width title">
      <span>Audio To Spectrogram</span>
    </div>
    <div class="third-width settings">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <form [formGroup]="spectrogramForm">
      <input
        style="display: none"
        type="file"
        accept="audio/mpeg,audio/wav"
        (change)="onFilesChanged($event)"
        #fileInput
        multiple
      />
      <button mat-raised-button (click)="fileInput.click()">
        <mat-icon>audiotrack</mat-icon>
        <span>Select Files</span>
      </button>

      <mat-form-field appearance="outline">
        <mat-label>Spectrogram Type</mat-label>
        <mat-select formControlname="type" required>
          <mat-option value="default">Spectrogram</mat-option>
          <mat-option value="mel">Mel Spectrogram</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Resolution</mat-label>
        <input
          matInput
          type="number"
          formControlname="resolution"
          min="1"
          required
        />
        <span matSuffix>dpi</span>
        <!-- <mat-error *ngIf="spectrogramForm.get('resolution').invalid"
          >Min size: 1dpi</mat-error
        > -->
      </mat-form-field>

      <button mat-raised-button>
        <mat-icon>play_circle_filled</mat-icon>
        <span>Start</span>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container accent-background-color">
  <ng-container *ngFor="let spectrogram of spectrograms">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>{{
          spectrogram.fileName
        }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="spectrogram.filePath" />
    </mat-card>
  </ng-container>
</div>
